/*-------- Fix Popup Editor--------*/
.mce-panel.mce-menu{z-index: 9999999 !important;}

/**********************************************************************/
/******************** CATANIS SHORTCODE BUTTON ************************/
.mce-i-catanis{
	background: url('icons/catanis-shortcodes.png') center center no-repeat !important;
}

.mce-i-catanisdropcaps, .mce_catanisdropcaps span,  
.mce-i-catanishighlight, .mce_catanishighlight span,  
.mce-i-catanis_singleimage, .mce_catanis_singleimage span,  

.mce-i-catanistitle, .catanistitle span,  
.mce-i-catanistitle2, .catanistitle2 span,  
.mce-i-catanishighlight1, .mce_catanishighlight1 span,  
.mce-i-catanishighlight2, .mce_catanishighlight2 span,  
.mce-i-catanisdropcaps2, .mce_catanisdropcaps2 span,  
.mce-i-catanislistcheck, .mce_catanislistcheck span, 
.mce-i-catanisliststar, .mce_catanisliststar span, 
.mce-i-catanislistarrow, .mce_catanislistarrow span, 
.mce-i-catanislistarrow2, .mce_catanislistarrow2 span, 
.mce-i-catanislistarrow4, .mce_catanislistarrow4 span, 
.mce-i-catanislistplus, .mce_catanislistplus span, 
.mce-i-catanislinebreak, .mce_catanislinebreak span, 
.mce-i-catanisframe, .mce_catanisframe span, 
.mce-i-catanislightbox, .mce_catanislightbox span, 
.mce-i-catanisbutton, .mce_catanisbutton span, 
.mce-i-catanisinfoboxes, .mce_catanisinfoboxes span, 
.mce-i-catanistwocolumns, .mce_catanistwocolumns span, 
.mce-i-catanisthreecolumns, .mce_catanisthreecolumns span, 
.mce-i-catanisfourcolumns, .mce_catanisfourcolumns span, 
.mce-i-catanisyoutube, .mce_catanisyoutube span, 
.mce-i-catanisvimeo, .mce_catanisvimeo span, 
.mce-i-catanisflash, .mce_catanisflash span, 
.mce-i-catanistestimonials, .mce_catanistestimonials span, 
.mce-i-catanisservices, .mce_catanisservices span, 
.mce-i-cataniscarousel, .mce_cataniscarousel span, 
.mce-i-catanisbgsection, .mce_catanisbgsection span, 
.mce-i-catanisboxedsection, .mce_catanisboxedsection span, 
.mce-i-catanisnivoslider, .mce_catanisnivoslider span, 
.mce-i-cataniscirclecta, .mce_cataniscirclecta span, 
.mce-i-catanisposts, .mce_catanisposts span,
.mce-i-catanispricing, .mce_catanispricing span,
.mce-i-catanistooltip, .mce_catanistooltip span,
.mce-i-catanisemptyspace, .mce_catanisemptyspace span{
	background: url('icons/btnicons.png') !important;
	background-size: 70px 20px !important;
	width: 20px;
	height: 20px;
	display: block;
}
.mce-i-catanisdropcaps, .mce_catanisdropcaps span { background-position: 0px 0px !important;}
.mce-i-catanistooltip, .mce_catanistooltip span { background-position: -120px -20px !important;}
.mce-i-catanisemptyspace, .mce_catanisemptyspace span { background-position: 46px 20px !important;}

.mce-i-catanishighlight, .mce_catanishighlight span { background-position: -40px -20px !important;}
.mce-i-catanis_singleimage, .mce_catanis_singleimage span{ background-position: -240px -20px !important;}
.mce-i-catanistitle, .mce_catanistitle span { background-position: 0px -20px !important;}
.mce-i-catanistitle2, .mce_catanistitle2 span { background-position: -20px -20px !important;} 
.mce-i-catanishighlight1, .mce_catanishighlight1 span { background-position: -40px -20px !important;} 
.mce-i-catanishighlight2, .mce_catanishighlight2 span { background-position: -60px -20px !important;} 
.mce-i-catanisdropcaps2, .mce_catanisdropcaps2 span { background-position: -80px -20px !important;} 
.mce-i-catanislistcheck, .mce_catanislistcheck span { background-position: -100px -20px !important;}
.mce-i-catanisliststar, .mce_catanisliststar span { background-position: -120px -20px !important;}
.mce-i-catanislistarrow, .mce_catanislistarrow span { background-position: -140px -20px !important;}
.mce-i-catanislistarrow2, .mce_catanislistarrow2 span { background-position: -160px -20px !important;}
.mce-i-catanislistarrow4, .mce_catanislistarrow4 span { background-position: -180px -20px !important;}
.mce-i-catanislistplus, .mce_catanislistplus span { background-position: -200px -20px !important;}
.mce-i-catanislinebreak, .mce_catanislinebreak span { background-position: -220px -20px !important;}
.mce-i-catanisframe, .mce_catanisframe span { background-position: -240px -20px !important;}
.mce-i-catanislightbox, .mce_catanislightbox span { background-position: -260px -20px !important;}
.mce-i-catanisbutton, .mce_catanisbutton span { background-position: -280px -20px !important;}
.mce-i-catanisinfoboxes, .mce_catanisinfoboxes span { background-position: -300px -20px !important;}
.mce-i-catanistwocolumns, .mce_catanistwocolumns span { background-position: -320px -20px !important;}
.mce-i-catanisthreecolumns, .mce_catanisthreecolumns span { background-position: -340px -20px !important;}
.mce-i-catanisfourcolumns, .mce_catanisfourcolumns span { background-position: -360px -20px !important;}
.mce-i-catanisyoutube, .mce_catanisyoutube span { background-position: -380px -20px !important;}
.mce-i-catanisvimeo, .mce_catanisvimeo span { background-position: -400px -20px !important;}
.mce-i-catanisflash, .mce_catanisflash span { background-position: -420px -20px !important;}
.mce-i-catanistestimonials, .mce_catanistestimonials span { background-position: -440px -20px !important;}
.mce-i-catanisservices, .mce_catanisservices span { background-position: -460px -20px !important;}
.mce-i-cataniscarousel, .mce_cataniscarousel span { background-position: -480px -20px !important;}
.mce-i-catanisboxedsection, .mce_catanisboxedsection span { background-position: -480px -20px !important;}
.mce-i-catanisbgsection, .mce_catanisbgsection span { background-position: -500px -20px !important;}
.mce-i-catanisnivoslider, .mce_catanisnivoslider span { background-position: -520px -20px !important;}
.mce-i-cataniscirclecta, .mce_cataniscirclecta span { background-position: -540px -20px !important;}
.mce-i-catanisposts, .mce_catanisposts span { background-position: -560px -20px !important;}
.mce-i-catanispricing, .mce_catanispricing span { background-position: -20px -20px !important;}

.mce-container-body .mce-toolbar:nth-child(3), .mce-container-body .mce-toolbar:nth-child(4) {
	display: block !important;
}

/**********************************************************************/
/******************** CATANIS CUSTOM VISUAL ***************************/
.vc_modal-content{border: 1px solid #32374A; }
.vc_modal-header {
	background: #222533;
	color: #c1cdd5;
}
.vc_elements-list-filter{ 
	background-color: #1A1C27 !important;
  	border: 1px solid #32374A !important;  
  	color: #FFFFFF!important;
}
.vc_elements-list-filter:focus{
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	border-color: #32374A !important;
}
.wpb-elements-list-modal .vc_modal-dialog .vc_modal-body .wpb-content-layouts-container .isotope-filter li{margin-bottom:10px;}
.wpb-elements-list-modal .vc_modal-dialog .vc_modal-body .wpb-content-layouts-container .isotope-filter li a{ color: #c1cdd5;}
.wpb-elements-list-modal .vc_modal-dialog .vc_modal-body .wpb-content-layouts-container .isotope-filter li.active a{color: #fff;}

.wpb-elements-list-modal .vc_modal-dialog .vc_modal-body{  
	background-color: #1A1C27;
}
.wpb-elements-list-modal .wpb-content-layouts li {
	background: #222533;
	border: 1px solid #32374a;
	height: 140px;
	width: 145px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.wpb-elements-list-modal .wpb-content-layouts li:hover{
	  background: #282c3e; border-color: #32374a;
}
.wpb-elements-list-modal .wpb-content-layouts a{  padding: 70px 5px 0; text-align: center;}
.wpb-elements-list-modal .vc_element-icon {
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -16px;
}

/*vc message*/
.wpb_element_wrapper .vc_color-warning.vc_message_box{
	color: #FFFFFF;
  	border-color: #1A1C27;
  	background-color: #282c3e;
  	margin-bottom: 15px !important;
}
.wpb_element_wrapper .vc_color-warning.vc_message_box .vc_message_box-icon{color: #c5c5c5;}

.wpb_vc_tta_tabs_cata .vc_tta.vc_general .vc_tta-tab > a {
  padding: 10px 14px;
}
.wpb_vc_tta_tabs_cata.wpb_content_element > .wpb_element_wrapper{
  background: none; padding:0;
}

.wpb_vc_tta_tabs_cata > .vc_controls {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  visibility: visible;
  position: relative;
  height: 23px;
  margin: 18px 0 2px 0;
  border: 1px dotted #e6e6e6;
  border-bottom-width: 0;
}
.wpb_vc_tta_tabs_cata .vc_controls > .vc_controls-cc{
	 background: #285a85;
  border-color: #285a85;
  top: 0px !important;
  direction: ltr !important;
	
}

.wpb_vc_tta_tabs_cata .vc_controls > .vc_controls-tc{top: 15px}

 

